# ä½¿ç”¨æœºå™¨å­¦ä¹ é¢„æµ‹ä¸–ç•Œæ¯å† å†› ğŸ†

## é¡¹ç›®å¤§çº²

- è·å–æœ¬å±Šä¸–ç•Œæ¯å°ç»„èµ›å’Œæ·˜æ±°èµ›çš„æ¯”èµ›ç»“æœ
- è·å–çƒé˜Ÿåœ¨æœ¬å±Šä¸–ç•Œæ¯çš„æ¯”èµ›ç»Ÿè®¡æ•°æ®
- è·å–çƒé˜Ÿåœ¨å†å±Šä¸–ç•Œæ¯çš„æ¯”èµ›ç»Ÿè®¡æ•°æ®
- ä½¿ç”¨äººå·¥ç¥ç»ç½‘ç»œè¿›è¡Œé¢„æµ‹

## æ•°æ®æ¥æº

- æœç‹ä½“è‚² 2018 ä¿„ç½—æ–¯ä¸–ç•Œæ¯å®æ—¶ [ç»Ÿè®¡æ•°æ®](http://data.2018.sohu.com/)ã€‚
- å¤–éƒ¨æ•°æ®å¯èƒ½ä¼šå› ä¸º API å˜åŠ¨è€Œå¤±æ•ˆã€‚

## è·å–æœ¬å±Šä¸–ç•Œæ¯å°ç»„èµ›å’Œæ·˜æ±°èµ›çš„æ¯”èµ›ç»“æœ

- æ•°æ®åœ°å€ï¼šhttp://data.2018.sohu.com/game-schedule.html?index=3

### è§£æ JSON æ•°æ®

In [1]:
import requests

# è§£æ JSON æ•°æ®
play_raw = requests.get("http://api.data.2018.sohu.com/api/schedule/time")

In [2]:
import json

play_json = json.loads(play_raw.text)

In [3]:
play_json['result'][0]

{'aggregate_partner_game': None,
 'coverage': None,
 'game_date': '2018-06-14 23:00:00',
 'game_type': '1',
 'game_type_description': 'group',
 'gamecode': '13245886',
 'gamecode_global': '13245886',
 'home_team_alias': '',
 'home_team_flag': '',
 'home_team_global_id': '0',
 'home_team_group': 'A',
 'home_team_id': '4694',
 'home_team_name': 'ä¿„ç½—æ–¯',
 'home_team_outcome': 'ä¿„ç½—æ–¯',
 'home_team_score': '5',
 'home_team_shootout_goals': None,
 'home_team_stars': '0',
 'id': '1',
 'judge_id': '0',
 'links_live': '126052',
 'links_schedule': "<a target=_blank href='http://sports.sohu.com/2018wcrusvsksa/'>æˆ˜æŠ¥</a>",
 'links_tv': None,
 'local_date': '2018-06-14 15:00:00',
 'manul_vs': 'http://sports.sohu.com/2018wcrusvsksa/',
 'match_number': '1',
 'original_week': '0',
 'stadium_global_id': '949',
 'stadium_id': '949',
 'stadium_name': 'å¢æ—¥å°¼åŸºä½“è‚²åœº',
 'status': 'closed',
 'status_id': '4',
 'tba': '',
 'venue_id': '949',
 'visiting_team_alias': '',
 'visiting_team_flag': '',
 'visiting_team_global_id': '0',
 'visiting_team_group': 'A',
 'visiting_team_id': '4834',
 'visiting_team_name': 'æ²™ç‰¹é˜¿æ‹‰ä¼¯',
 'visiting_team_outcome': 'æ²™ç‰¹é˜¿æ‹‰ä¼¯',
 'visiting_team_score': '0',
 'visiting_team_shootout_goals': None,
 'visiting_team_stars': '0',
 'week': '4'}

In [4]:
import pandas as pd

play_df = pd.read_json(json.dumps(play_json['result']))

In [5]:
play_score = play_df[['home_team_name', 'visiting_team_name', 'home_team_score', 'visiting_team_score']].iloc[:-1]
play_score.tail()

   home_team_name visiting_team_name  home_team_score  visiting_team_score
58             ç‘å…¸                è‹±æ ¼å…°                0                    2
59            ä¿„ç½—æ–¯               å…‹ç½—åœ°äºš                5                    6
60             æ³•å›½                æ¯”åˆ©æ—¶                1                    0
61           å…‹ç½—åœ°äºš                è‹±æ ¼å…°                2                    1
62            æ¯”åˆ©æ—¶                è‹±æ ¼å…°                2                    0

### æ ¹æ®æ¯”åˆ†æƒ…å†µï¼Œä¸ºæ¯ä¸€åœºæ¯”èµ›æ·»åŠ æ ‡ç­¾

In [6]:
play_score.loc[play_score['home_team_score'] > play_score['visiting_team_score'], 'results'] = 'èƒœåˆ©'
play_score.loc[play_score['home_team_score'] == play_score['visiting_team_score'], 'results'] = 'å¹³å±€'
play_score.loc[play_score['home_team_score'] < play_score['visiting_team_score'], 'results'] = 'å¤±è´¥'

In [7]:
play_score.head()

,home_team_name,visiting_team_name,home_team_score,visiting_team_score,results
0,ä¿„ç½—æ–¯,æ²™ç‰¹é˜¿æ‹‰ä¼¯,5,0,èƒœåˆ©
1,åŸƒåŠ,ä¹Œæ‹‰åœ­,0,1,å¤±è´¥
2,æ‘©æ´›å“¥,ä¼Šæœ—,0,1,å¤±è´¥
3,è‘¡è„ç‰™,è¥¿ç­ç‰™,3,3,å¹³å±€
4,æ³•å›½,æ¾³å¤§åˆ©äºš,2,1,èƒœåˆ©

## è·å–çƒé˜Ÿåœ¨æœ¬å±Šä¸–ç•Œæ¯çš„æ¯”èµ›ç»Ÿè®¡æ•°æ®

è·å–çƒé˜Ÿåœ¨æœ¬å±Šä¸–ç•Œæ¯çš„æ¯”èµ›ç»Ÿè®¡æ•°æ®ï¼Œè¿™äº›æ•°æ®åŒ…æ‹¬èµ¢çƒåœºæ¬¡ã€è¾“çƒåœºæ¬¡ã€æ¯”èµ›æ¬¡æ•°ã€è¿›çƒæ•°é‡ã€å¤±çƒæ•°é‡ç­‰ã€‚è¿™äº›æŒ‡æ ‡ç”¨äºåæ˜ çƒé˜Ÿçš„æ•´ä½“å®åŠ›ã€‚

- æ•°æ®åœ°å€ï¼šhttp://data.2018.sohu.com/

### å¾—åˆ°å„å›½å®¶é˜Ÿæ•´ä½“è¾“èµ¢æ•°æ®

In [8]:
team_raw = requests.get("http://api.data.2018.sohu.com/api/scores/index")

In [9]:
team_json = json.loads(team_raw.text)

team_json['result'][0]

{'alias': '',
 'away_losses': None,
 'away_ties': None,
 'away_wins': None,
 'flag': '',
 'games_played': '3',
 'goals_against': '4',
 'goals_for': '8',
 'group': 'A',
 'home_losses': None,
 'home_ties': None,
 'home_wins': None,
 'id': '1',
 'losses': '1',
 'name_cn': 'ä¿„ç½—æ–¯',
 'place': '2',
 'points': '6',
 'points_per_game': None,
 'r1': None,
 'r2': None,
 'r3': None,
 'r4': None,
 'r5': None,
 'team_global_id': None,
 'team_id': '4694',
 'ties': '0',
 'winning_percentage': '0.667',
 'wins': '2'}

In [10]:
team_df = pd.read_json(json.dumps(team_json['result']))
team_df = team_df[['name_cn', 'wins', 'losses', 'ties', 'points', 'goals_for', 'goals_against']]
team_df_reindex = pd.DataFrame(team_df).set_index('name_cn')
team_df_reindex.head()

         wins  losses  ties  points  goals_for  goals_against
name_cn
ä¿„ç½—æ–¯         2       1     0       6          8              4
ä¹Œæ‹‰åœ­         3       0     0       9          5              0
åŸƒåŠ          0       3     0       0          2              6
æ²™ç‰¹é˜¿æ‹‰ä¼¯       1       2     0       3          2              7
è‘¡è„ç‰™         1       0     2       5          5              4

### å¾—åˆ°å„å›½å®¶é˜Ÿå¾—åˆ†è¯¦ç»†ç»Ÿè®¡æ•°æ®

- æ•°æ®åœ°å€ï¼šhttp://data.2018.sohu.com/list.html?type=team&category=2

In [11]:
goal_raw = requests.get("http://api.data.2018.sohu.com/api/rank/team?category_id=2")

In [12]:
goal_json = json.loads(goal_raw.text)

goal_json['result']['list'][0]

{'ball_possession': '387',
 'cards': '15',
 'conceded0_15': '0',
 'conceded16_30': '0',
 'conceded31_45': '0',
 'conceded46_60': '0',
 'conceded61_75': '0',
 'conceded76_90': None,
 'corner_kicks': '40',
 'crosses': None,
 'duelstacklesuccessful': '244',
 'duelstackletotal': '473',
 'fouls': '111',
 'free_kicks': '121',
 'games_played': '7',
 'goals': '21',
 'goals_footed': '18',
 'goals_headed': '2',
 'id': '18',
 'last_form': 'LWWWWWW',
 'losses': '1',
 'name_cn': 'å…‹ç½—åœ°äºš',
 'offsides': '9',
 'opponent_goals': '14',
 'red_cards': '0',
 'scored0_15': '0',
 'scored16_30': '0',
 'scored31_45': '1',
 'scored46_60': '2',
 'scored61_75': '1',
 'scored76_90': '3',
 'shots': '80',
 'shots_blocked': '27',
 'shots_off_goal': '52',
 'shots_on_goal': '28',
 'team_id': '4715',
 'ties': '0',
 'touches_passes': '3964',
 'wins': '6',
 'yellow_cards': '15'}

In [13]:
goal_df = pd.read_json(json.dumps(goal_json['result']['list']))
goal_df = goal_df[['name_cn', 'games_played', 'goals', 'opponent_goals', 'shots', 'shots_on_goal', 
                   'fouls', 'offsides', 'touches_passes', 'free_kicks', 'corner_kicks', 'duelstackletotal',
                   'yellow_cards', 'red_cards']]
goal_df_reindex = pd.DataFrame(goal_df).set_index('name_cn')
goal_df_reindex.head()

,games_played,goals,opponent_goals,shots,shots_on_goal,fouls,offsides,touches_passes,free_kicks,corner_kicks,duelstackletotal,yellow_cards,red_cards
name_cn,,,,,,,,,,,,,
å…‹ç½—åœ°äºš,7,21,14,80,28,111,9,3964,121,40,473,15,0
ä¿„ç½—æ–¯,5,18,14,35,18,95,7,1958,60,26,357,7,0
è‹±æ ¼å…°,7,16,11,65,27,67,15,4001,113,39,461,8,0
æ¯”åˆ©æ—¶,7,16,6,75,39,99,8,3810,86,39,489,11,0
æ³•å›½,7,14,6,66,31,90,3,3250,109,21,437,12,0

## è·å–çƒé˜Ÿåœ¨å†å±Šä¸–ç•Œæ¯çš„æ¯”èµ›ç»Ÿè®¡æ•°æ®

- æ•°æ®åœ°å€ï¼šhttp://data.2018.sohu.com/team-map.html

In [14]:
team_history_raw = requests.get("http://api.data.2018.sohu.com/api/team/list")

In [15]:
team_history_json = json.loads(team_history_raw.text)

team_history_json['result'][1]

{'alias': '',
 'arabic': None,
 'clothing_a': '0',
 'clothing_b': '0',
 'create_time': '1900',
 'crowns': '2',
 'display_name': 'Uruguay',
 'flag': '',
 'global_rank': '14',
 'group': 'A',
 'history_country_id': '0',
 'id': '34',
 'join_time': '1923',
 'links_video': None,
 'location': None,
 'name': None,
 'name_cn': 'ä¹Œæ‹‰åœ­',
 'presents': '12',
 'sign': '0',
 'team_global_id': '4725',
 'team_id': '4725',
 'wined': '0'}

### å¾—åˆ°ä»¥å›½å®¶åç§°ä¸ºç´¢å¼•ï¼Œå„å›½å®¶å†å¹´å‚åŠ ä¸–ç•Œæ¯åŠåæ¬¡æƒ…å†µ

In [16]:
team_history_df = pd.read_json(json.dumps(team_history_json['result']))
team_history_df = team_history_df[['name_cn', 'global_rank', 'crowns', 'presents']]
team_history_df_reindex = pd.DataFrame(team_history_df).set_index('name_cn')
team_history_df_reindex.head()

         global_rank  crowns  presents
name_cn
ä¿„ç½—æ–¯               70       0        10
ä¹Œæ‹‰åœ­               14       2        12
åŸƒåŠ                45       0         2
æ²™ç‰¹é˜¿æ‹‰ä¼¯             67       0         4
è‘¡è„ç‰™                4       0         6

## åˆå¹¶æ•°æ®

åˆå¹¶ `team_df_reindex`ï¼Œ`goal_df_reindex`ï¼Œ`team_history_df_reindex`ã€‚

In [17]:
team_merge = pd.concat([team_df_reindex, goal_df_reindex, team_history_df_reindex], axis=1)

team_merge.head()

,wins,losses,ties,points,goals_for,goals_against,games_played,goals,opponent_goals,shots,...,offsides,touches_passes,free_kicks,corner_kicks,duelstackletotal,yellow_cards,red_cards,global_rank,crowns,presents
ä¸¹éº¦,1,0,2,5,2,1,4,5,5,32,...,5,1789,38,18,216,6,0,12,0,4
ä¹Œæ‹‰åœ­,3,0,0,9,5,0,5,7,3,44,...,2,2268,78,18,361,3,0,14,2,12
ä¼Šæœ—,1,1,1,4,2,2,3,2,2,17,...,3,684,48,5,180,7,0,37,0,4
ä¿„ç½—æ–¯,2,1,0,6,8,4,5,18,14,35,...,7,1958,60,26,357,7,0,70,0,10
å…‹ç½—åœ°äºš,3,0,0,9,7,1,7,21,14,80,...,9,3964,121,40,473,15,0,20,0,4

In [18]:
home_team_df = team_merge.reindex(play_score['home_team_name'])
visiting_team_df = team_merge.reindex(play_score['visiting_team_name'])

In [19]:
home_visiting_team_df = pd.concat([home_team_df.reset_index(), visiting_team_df.reset_index()], axis=1)
home_visiting_team_df.head()

,home_team_name,wins,losses,ties,points,goals_for,goals_against,games_played,goals,opponent_goals,...,offsides,touches_passes,free_kicks,corner_kicks,duelstackletotal,yellow_cards,red_cards,global_rank,crowns,presents
0,ä¿„ç½—æ–¯,2,1,0,6,8,4,5,18,14,...,4,1802,54,13,216,1,0,67,0,4
1,åŸƒåŠ,0,3,0,0,2,6,3,2,6,...,2,2268,78,18,361,3,0,14,2,12
2,æ‘©æ´›å“¥,0,2,1,1,2,4,3,2,4,...,3,684,48,5,180,7,0,37,0,4
3,è‘¡è„ç‰™,1,0,2,5,5,4,4,6,6,...,6,3426,67,24,232,2,0,10,1,14
4,æ³•å›½,2,0,1,7,3,1,7,14,6,...,3,1522,35,14,180,7,0,36,0,4

In [20]:
play_score_new = pd.concat([home_visiting_team_df, play_score.iloc[:, -1:]], axis=1).drop(['home_team_name', 'visiting_team_name'], axis=1)
play_score_new.head()

,wins,losses,ties,points,goals_for,goals_against,games_played,goals,opponent_goals,shots,...,touches_passes,free_kicks,corner_kicks,duelstackletotal,yellow_cards,red_cards,global_rank,crowns,presents,results
0,2,1,0,6,8,4,5,18,14,35,...,1802,54,13,216,1,0,67,0,4,èƒœåˆ©
1,0,3,0,0,2,6,3,2,6,21,...,2268,78,18,361,3,0,14,2,12,å¤±è´¥
2,0,2,1,1,2,4,3,2,4,28,...,684,48,5,180,7,0,37,0,4,å¤±è´¥
3,1,0,2,5,5,4,4,6,6,33,...,3426,67,24,232,2,0,10,1,14,å¹³å±€
4,2,0,1,7,3,1,7,14,6,66,...,1522,35,14,180,7,0,36,0,4,èƒœåˆ©


### æ•°æ®å½’ä¸€åŒ–å¤„ç†

Min-Max Normalization å¯¹åŸå§‹æ•°æ®çš„çº¿æ€§å˜æ¢ï¼Œä½¿ç»“æœå€¼æ˜ å°„åˆ° `0-1` ä¹‹é—´ï¼š

$$\hat x=\frac{x-x_{min}}{x_{max}-x_{min}}$$

In [21]:
play_score_temp = play_score_new.iloc[:, :-1]
play_score_normal = (play_score_temp - play_score_temp.min()) / (play_score_temp.max() - play_score_temp.min())
play_score_normal = pd.concat([play_score_normal, play_score_new.iloc[:, -1]], axis=1)
play_score_normal.head()

,wins,losses,ties,points,goals_for,goals_against,games_played,goals,opponent_goals,shots,...,touches_passes,free_kicks,corner_kicks,duelstackletotal,yellow_cards,red_cards,global_rank,crowns,presents,results
0,0.666667,0.333333,0.0,0.666667,0.857143,0.363636,0.50,0.842105,1.000000,0.285714,...,0.337052,0.302083,0.216216,0.170213,0.000000,0.0,0.956522,0.0,0.2,èƒœåˆ©
1,0.000000,1.000000,0.0,0.000000,0.000000,0.545455,0.00,0.000000,0.333333,0.063492,...,0.477540,0.552083,0.351351,0.610942,0.142857,0.0,0.188406,0.4,0.6,å¤±è´¥
2,0.000000,0.666667,0.5,0.111111,0.000000,0.363636,0.00,0.000000,0.166667,0.174603,...,0.000000,0.239583,0.000000,0.060790,0.428571,0.0,0.521739,0.0,0.2,å¤±è´¥
3,0.333333,0.000000,1.0,0.555556,0.428571,0.363636,0.25,0.210526,0.333333,0.253968,...,0.826651,0.437500,0.513514,0.218845,0.071429,0.0,0.130435,0.2,0.7,å¹³å±€
4,0.666667,0.000000,0.5,0.777778,0.142857,0.090909,1.00,0.631579,0.333333,0.777778,...,0.252638,0.104167,0.243243,0.060790,0.428571,0.0,0.507246,0.0,0.2,èƒœåˆ©

 ## ä½¿ç”¨äººå·¥ç¥ç»ç½‘ç»œè¿›è¡Œé¢„æµ‹

In [22]:
X = play_score_normal.iloc[:, :-1] # ç‰¹å¾
y = play_score_normal.iloc[:, -1] # ç›®æ ‡

In [23]:
from sklearn.neural_network import MLPClassifier

# å®šä¹‰äººå·¥ç¥ç»ç½‘ç»œåˆ†ç±»å™¨
model = MLPClassifier(max_iter=1000)

In [24]:
from sklearn.model_selection import cross_val_score

# äº¤å‰éªŒè¯ï¼Œè¯„ä¼°æ¨¡å‹å¯é æ€§
cvs = cross_val_score(model, X, y, cv=5)
cvs

array([ 0.71428571,  0.76923077,  0.61538462,  0.5       ,  0.63636364])

In [25]:
import numpy as np

# æ±‚å¾—äº¤å‰éªŒè¯ç»“æœå¹³å‡å€¼
np.mean(cvs)

0.64705294705294703

In [26]:
model.fit(X, y) # è®­ç»ƒæ¨¡å‹

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=1000, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

### å–å‡ºå†³èµ›é˜Ÿä¼çš„ç‰¹å¾æ•°æ®

In [27]:
# å–å‡ºå†³èµ›é˜Ÿä¼æ•°æ®
final_team = pd.concat([home_team_df.loc['æ³•å›½'].iloc[0], home_team_df.loc['å…‹ç½—åœ°äºš'].iloc[0]])
final_team

wins                   2
losses                 0
ties                   1
points                 7
goals_for              3
goals_against          1
games_played           7
goals                 14
opponent_goals         6
shots                 66
shots_on_goal         31
fouls                 90
offsides               3
touches_passes      3250
free_kicks           109
corner_kicks          21
duelstackletotal     437
yellow_cards          12
red_cards              0
global_rank            7
crowns                 1
presents              14
wins                   3
losses                 0
ties                   0
points                 9
goals_for              7
goals_against          1
games_played           7
goals                 21
opponent_goals        14
shots                 80
shots_on_goal         28
fouls                111
offsides               9
touches_passes      3964
free_kicks           121
corner_kicks          40
duelstackletotal     473
yellow_cards          15
red_cards              0
global_rank           20
crowns                 0
presents               4
dtype: int64

In [28]:
# å¯¹æ•°æ®è¿›è¡Œå½’ä¸€åŒ–
final_team_normal = (final_team - play_score_temp.min()) / (play_score_temp.max() - play_score_temp.min())
final_team_normal

wins                0.666667
losses              0.000000
ties                0.500000
points              0.777778
goals_for           0.142857
goals_against       0.090909
games_played        1.000000
goals               0.631579
opponent_goals      0.333333
shots               0.777778
shots_on_goal       0.771429
fouls               0.743902
offsides            0.200000
touches_passes      0.773591
free_kicks          0.875000
corner_kicks        0.432432
duelstackletotal    0.841945
yellow_cards        0.785714
red_cards           0.000000
global_rank         0.086957
crowns              0.200000
presents            0.700000
wins                1.000000
losses              0.000000
ties                0.000000
points              1.000000
goals_for           0.714286
goals_against       0.090909
games_played        1.000000
goals               1.000000
opponent_goals      1.000000
shots               1.000000
shots_on_goal       0.685714
fouls               1.000000
offsides            0.600000
touches_passes      0.988845
free_kicks          1.000000
corner_kicks        0.945946
duelstackletotal    0.951368
yellow_cards        1.000000
red_cards           0.000000
global_rank         0.275362
crowns              0.000000
presents            0.200000
dtype: float64

### é¢„æµ‹å† å†›çƒé˜Ÿã€æ³•å›½ ğŸ‡«ğŸ‡· VS å…‹ç½—åœ°äºš ğŸ‡­ğŸ‡·ã€‘

In [30]:
model.predict(np.atleast_2d(final_team_normal)) # é¢„æµ‹

array(['èƒœåˆ©'],
      dtype='<U2')

å³ä»£è¡¨æ³•å›½å–å¾—å† å†›ã€‚